.login__screen {
  background: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__header__logo {
  width: 100px;
  cursor: pointer;
  margin: 20px 0;
  object-fit: contain;
}

.login__signIn {
  border: 1px solid rgb(202, 199, 199);
  padding: 30px 20px;
  width: 300px;
}

.signIn__title {
  margin-bottom: 10px;
  font-weight: 600;
  /* font-size: large; */
}

.login__screen label {
  font-size: small;
  font-weight: 500;
}

.login__screen input {
  width: 100%;
  padding: 5px;
  display: inline-block;
}

.signIn__button {
  width: 100%;
  border-color: #a88734 #9c7e31 #846a29;
  background-color: #f0c14b;
  padding: 5px;
  margin: 15px 0;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.signIn__conditions {
  font-size: small;
  font-weight: 500;
}

.createAmazon__button {
  padding: 5px;
  width: 100%;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
}
